/* Code for home view starts*/
 /* Sidebar Styles */
 #sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #f8f9fa; /* Adjust the background color as needed */
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 60px;
    z-index: 1; /* Increase the z-index value */
}

#sidebar a {
    padding: 10px 20px;
    text-decoration: none;
    font-size: 16px;
    color: #333; /* Adjust the text color as needed */
    display: block;
    transition: 0.3s;
}

#sidebar a:hover {
    color: #007bff; /* Adjust the hover color as needed */
}

#toggle-sidebar {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 2; /* Increase the z-index value */
}
/* Code for home view ends*/
#nav-profile{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}
#nav-profile .profile-picture-container img{
    width: 35px;
    height: 35px;
    object-fit: cover;
    border-radius: 50%;
    margin: 0px 5px 0px 10px;
}

